
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    background-color: dodgerblue;
    text-align: center;
    padding: 10px;
}
#form-container{
    width: 400px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 15px;
    background-color: whitesmoke;
    margin-left: 35%;
     transition: transform 0.4s ease;
}
#form-container:hover{
   transform: translateY(-8px);
}
#form-container input{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: none;
}
#form-container button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    background-color: dodgerblue;
}
#form-container button:hover{
    background-color: rgb(9, 129, 249);
}
#form-container .error{
    color: red;
    margin-bottom: 10px;
    font-size: 20px;
}
.switch{
    color: rgb(4, 90, 249);
    margin-top: 5px;
}
.switch:hover{
    color: rgb(8, 42, 104);
    text-decoration: underline;
}